In [ ]:
%pip install pandas

In [ ]:
import pandas as pd

In [ ]:
help(pd.read_csv)

In [ ]:
orders_columns = [
    'order_id', 'order_date',
    'order_customer_id', 'order_status'
]

In [ ]:
orders = pd.read_csv(
    'part-00000',
    names=orders_columns
)

In [ ]:
orders.columns

In [ ]:
orders.query?

In [ ]:
orders['order_status'].unique()

In [ ]:
orders.query('order_status == "COMPLETE" and order_date == "2014-01-01 00:00:00.0"')

In [ ]:
orders.query('order_status == "COMPLETE" or order_status == "CLOSED"')

In [ ]:
orders.query('order_status == ("COMPLETE", "CLOSED")')

In [ ]:
orders.groupby('order_status')['order_id'].agg(order_count='count')

In [ ]:
orders

In [ ]:
orders['order_month'] = orders.apply(lambda order: order.order_date[:7], axis=1)

In [ ]:
orders

In [ ]:
orders. \
    groupby(['order_month', 'order_status'])['order_id']. \
    agg(order_count='count')

In [ ]:
orders. \
    groupby(['order_month', 'order_status'])['order_id']. \
    agg(order_count='count'). \
    reset_index()

In [ ]:
import json

In [ ]:
def get_column_names(schemas, ds_name, sorting_key='column_position'):
    column_details = schemas[ds_name]
    columns = sorted(column_details, key=lambda col: col[sorting_key])
    return [col['column_name'] for col in columns]

In [ ]:
schemas = json.load(open('schemas.json'))

In [ ]:
orders_columns = get_column_names(schemas, 'orders')

In [35]:
customers_columns = get_column_names(schemas, 'customers')

In [16]:
customers_columns

['customer_id',
 'customer_fname',
 'customer_lname',
 'customer_email',
 'customer_password',
 'customer_street',
 'customer_city',
 'customer_state',
 'customer_zipcode']

In [ ]:
orders_columns

In [39]:
customers = pd.read_csv(
    'part-00000.txt',
    names=customers_columns
)

In [40]:
customers

,customer_id,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode
0,1,Richard,Hernandez,XXXXXXXXX,XXXXXXXXX,6303 Heather Plaza,Brownsville,TX,78521
1,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126
2,3,Ann,Smith,XXXXXXXXX,XXXXXXXXX,3422 Blue Pioneer Bend,Caguas,PR,725
3,4,Mary,Jones,XXXXXXXXX,XXXXXXXXX,8324 Little Common,San Marcos,CA,92069
4,5,Robert,Hudson,XXXXXXXXX,XXXXXXXXX,10 Crystal River Mall,Caguas,PR,725
...,...,...,...,...,...,...,...,...,...
12430,12431,Mary,Rios,XXXXXXXXX,XXXXXXXXX,1221 Cinder Pines,Kaneohe,HI,96744
12431,12432,Angela,Smith,XXXXXXXXX,XXXXXXXXX,1525 Jagged Barn Highlands,Caguas,PR,725
12432,12433,Benjamin,Garcia,XXXXXXXXX,XXXXXXXXX,5459 Noble Brook Landing,Levittown,NY,11756
12433,12434,Mary,Mills,XXXXXXXXX,XXXXXXXXX,9720 Colonial Parade,Caguas,PR,725
12434,12435,Laura,Horton,XXXXXXXXX,XXXXXXXXX,5736 Honey Downs,Summerville,SC,29483

In [41]:
customers.set_index('customer_id')

,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode
customer_id,,,,,,,,
1,Richard,Hernandez,XXXXXXXXX,XXXXXXXXX,6303 Heather Plaza,Brownsville,TX,78521
2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126
3,Ann,Smith,XXXXXXXXX,XXXXXXXXX,3422 Blue Pioneer Bend,Caguas,PR,725
4,Mary,Jones,XXXXXXXXX,XXXXXXXXX,8324 Little Common,San Marcos,CA,92069
5,Robert,Hudson,XXXXXXXXX,XXXXXXXXX,10 Crystal River Mall,Caguas,PR,725
...,...,...,...,...,...,...,...,...
12431,Mary,Rios,XXXXXXXXX,XXXXXXXXX,1221 Cinder Pines,Kaneohe,HI,96744
12432,Angela,Smith,XXXXXXXXX,XXXXXXXXX,1525 Jagged Barn Highlands,Caguas,PR,725
12433,Benjamin,Garcia,XXXXXXXXX,XXXXXXXXX,5459 Noble Brook Landing,Levittown,NY,11756
12434,Mary,Mills,XXXXXXXXX,XXXXXXXXX,9720 Colonial Parade,Caguas,PR,725
12435,Laura,Horton,XXXXXXXXX,XXXXXXXXX,5736 Honey Downs,Summerville,SC,29483

In [21]:
customers = customers.set_index('customer_id')

In [23]:
orders = orders.set_index('order_customer_id')

In [30]:
customer_orders = customers. \
    join(orders, how='inner')

In [28]:
customer_orders.shape

(68883, 11)

In [31]:
customer_orders

,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode,order_id,order_date,order_status
customer_id,,,,,,,,,,,
1,2013-07-25 00:00:00.0,11599,CLOSED,NaN,NaN,NaN,NaN,NaN,22945,2013-12-13 00:00:00.0,COMPLETE
2,2013-07-25 00:00:00.0,256,PENDING_PAYMENT,NaN,NaN,NaN,NaN,NaN,15192,2013-10-29 00:00:00.0,PENDING_PAYMENT
2,2013-07-25 00:00:00.0,256,PENDING_PAYMENT,NaN,NaN,NaN,NaN,NaN,33865,2014-02-18 00:00:00.0,COMPLETE
2,2013-07-25 00:00:00.0,256,PENDING_PAYMENT,NaN,NaN,NaN,NaN,NaN,57963,2013-08-02 00:00:00.0,ON_HOLD
2,2013-07-25 00:00:00.0,256,PENDING_PAYMENT,NaN,NaN,NaN,NaN,NaN,67863,2013-11-30 00:00:00.0,COMPLETE
...,...,...,...,...,...,...,...,...,...,...,...
12434,2013-10-09 00:00:00.0,728,PENDING_PAYMENT,NaN,NaN,NaN,NaN,NaN,42915,2014-04-16 00:00:00.0,COMPLETE
12434,2013-10-09 00:00:00.0,728,PENDING_PAYMENT,NaN,NaN,NaN,NaN,NaN,51800,2014-06-14 00:00:00.0,ON_HOLD
12434,2013-10-09 00:00:00.0,728,PENDING_PAYMENT,NaN,NaN,NaN,NaN,NaN,61777,2013-12-26 00:00:00.0,COMPLETE
12435,2013-10-09 00:00:00.0,9573,PENDING,NaN,NaN,NaN,NaN,NaN,41643,2014-04-08 00:00:00.0,PENDING
12435,2013-10-09 00:00:00.0,9573,PENDING,NaN,NaN,NaN,NaN,NaN,61629,2013-12-21 00:00:00.0,CANCELED