In [ ]:
%pip install pandas

In [ ]:
import pandas as pd

In [ ]:
help(pd.read_csv)

In [ ]:
orders_columns = [
    'order_id', 'order_date',
    'order_customer_id', 'order_status'
]

In [ ]:
orders = pd.read_csv(
    'part-00000',
    names=orders_columns
)

In [ ]:
orders.columns

In [ ]:
orders.query?

In [ ]:
orders['order_status'].unique()

In [ ]:
orders.query('order_status == "COMPLETE" and order_date == "2014-01-01 00:00:00.0"')

In [ ]:
orders.query('order_status == "COMPLETE" or order_status == "CLOSED"')

In [ ]:
orders.query('order_status == ("COMPLETE", "CLOSED")')

In [ ]:
orders.groupby('order_status')['order_id'].agg(order_count='count')

In [ ]:
orders

In [ ]:
orders['order_month'] = orders.apply(lambda order: order.order_date[:7], axis=1)

In [ ]:
orders

In [ ]:
orders. \
    groupby(['order_month', 'order_status'])['order_id']. \
    agg(order_count='count')

In [ ]:
orders. \
    groupby(['order_month', 'order_status'])['order_id']. \
    agg(order_count='count'). \
    reset_index()

In [ ]:
import json

In [ ]:
def get_column_names(schemas, ds_name, sorting_key='column_position'):
    column_details = schemas[ds_name]
    columns = sorted(column_details, key=lambda col: col[sorting_key])
    return [col['column_name'] for col in columns]

In [ ]:
schemas = json.load(open('schemas.json'))

In [ ]:
orders_columns = get_column_names(schemas, 'orders')

In [ ]:
customers_columns = get_column_names(schemas, 'customers')

In [ ]:
customers_columns

In [ ]:
orders_columns

In [ ]:
customers = pd.read_csv(
    'part-00000.txt',
    names=customers_columns
)

In [ ]:
customers

In [ ]:
customers.set_index('customer_id')

In [ ]:
customers = customers.set_index('customer_id')

In [ ]:
orders = orders.set_index('order_customer_id')

In [ ]:
customer_orders = customers. \
    join(orders, how='inner')

In [ ]:
customer_orders.shape

In [ ]:
customer_orders. \
    reset_index(names='customer_id'). \
    groupby('customer_id')['customer_id']. \
    agg(order_count='count'). \
    reset_index(). \
    query('order_count >= 10')

In [ ]:
orders.sort_values('order_customer_id')

In [ ]:
orders.sort_values('order_customer_id', ascending=False)

In [ ]:
orders.sort_values(['order_customer_id', 'order_date'], ascending=False)

In [ ]:
orders.sort_values(['order_customer_id', 'order_date'], ascending=[True, False])

In [12]:
import os
os.makedirs('orders_json', exist_ok=True)

In [13]:
# stores in columnar format
# review data in the files to understand how data is formatted
orders.to_json('orders_json/part-00000')

In [14]:
# save data in row format
orders.to_json(
    'orders_json/part-00001',
    orient='records',
    lines=True
)

In [18]:
pd.read_json(
    'orders_json/part-00001',
    lines=True
)

       order_id             order_date  order_customer_id     order_status
0             1  2013-07-25 00:00:00.0              11599           CLOSED
1             2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2             3  2013-07-25 00:00:00.0              12111         COMPLETE
3             4  2013-07-25 00:00:00.0               8827           CLOSED
4             5  2013-07-25 00:00:00.0              11318         COMPLETE
...         ...                    ...                ...              ...
68878     68879  2014-07-09 00:00:00.0                778         COMPLETE
68879     68880  2014-07-13 00:00:00.0               1117         COMPLETE
68880     68881  2014-07-19 00:00:00.0               2518  PENDING_PAYMENT
68881     68882  2014-07-22 00:00:00.0              10000          ON_HOLD
68882     68883  2014-07-23 00:00:00.0               5533         COMPLETE

[68883 rows x 4 columns]